package page

import (
    "github.com/aguerram/gtcth/internal/view/layout"
)

templ Home(){
    @layout.DefaultLayout("Home") {
        <h1>Welcome to the Home Page.</h1>
        <p>This is the home page of the website.</p>
    }
}